@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* Root Css */
:root {
    --primary-color: rgb(2, 120, 253);
    --main-bg: rgb(20, 28, 47);
    --light-bg: rgb(245, 248, 255);
    --box-bg: rgb(31, 42, 72);
    --font-color: rgb(140, 148, 167);
    --placeholder: rgb(255, 255, 255);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);

    --text-lg: 20px;
    --test-sm: 15px;
}

/* Main layout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--main-bg);
    color: var(--font-color);
    font-size: var(--test-sm);
}

.user-search {
    display: flex;
    align-items: center;
    height: 100vh;
}

.container {
    width: 600px;
    margin: 0 auto;
}

h2 {
    font-size: var(--text-lg);
    color: var(--white);
}

img {
    width: 100%;
    border-radius: 50%;
}

/* Header css */
.header {
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.site-logo h2 {
    font-size: var(--text-lg);
    letter-spacing: 2px;
}

#theme-toggle {
    cursor: pointer;
}

/* Search bar */
.search-dev {
    margin-bottom: 20px;
}

.search-bar {
    background-color: var(--box-bg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

.search-bar i {
    color: var(--primary-color);
}

input#search-input {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    color: var(--white);
}

input#search-input:focus {
    outline: none;
}

input#search-input::placeholder {
    color: var(--font-color);
}

button#search-btn {
    background-color: var(--primary-color);
    border: none;
    color: var(--white);
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* User information */
.user {
    background-color: var(--box-bg);
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 80%;
    padding: 30px;
    border-radius: 10px;
}

.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.username {
    color: var(--primary-color);
    margin-bottom: 10px;
}

.bio {
    margin-bottom: 20px;
}

.activity {
    background-color: var(--main-bg);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.other-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.item {
    display: grid;
    grid-template-columns: 15% 1fr;
    align-items: center;
}

.item i {
    color: var(--white);
}

/* Light Theme */
.light-bg {
    background-color: var(--light-bg);
    color: var(--black);
}

.light-header {
    color: var(--black);
}

.light-search-bar .search-bar {
    background-color: var(--white);
    color: var(--black);
}

.light-search-bar .search-bar input#search-input {
    color: var(--black);
}

.light-user-info {
   background-color: var(--white);
}

.light-user-info .user-info .activity {
   background-color: var(--light-bg);
}

.light-other-info div i {
    color: var(--black);
}