@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* Root Css */
:root {
    --primary-color: rgb(2, 120, 253);
    --main-bg: rgb(20, 28, 47);
    --light-bg: rgb(245, 248, 255);
    --box-bg: rgb(31, 42, 72);
    --font-color: rgb(140, 148, 167);
    --placeholder: rgb(255, 255, 255);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);

    --text-lg: 20px;
    --text-sm: 15px;
    --text-xsm: 13px;
}

/* Main layout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--main-bg);
    color: var(--font-color);
    font-size: var(--text-sm);
}

.user-search {
    display: flex;
    align-items: center;
    height: 100vh;
}

.container {
    width: 600px;
    margin: 0 auto;
}

h2 {
    font-size: var(--text-lg);
    color: var(--white);
}

img {
    width: 100%;
    border-radius: 50%;
}

/* Header css */
.header {
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.site-logo h2 {
    font-size: var(--text-lg);
    letter-spacing: 2px;
}

#theme-toggle {
    cursor: pointer;
}

/* Search bar */
.search-dev {
    margin-bottom: 20px;
}

.search-bar {
    background-color: var(--box-bg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

.search-bar i {
    color: var(--primary-color);
}

input#search-input {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    color: var(--white);
}

input#search-input:focus {
    outline: none;
}

input#search-input::placeholder {
    color: var(--font-color);
}

button#search-btn {
    background-color: var(--primary-color);
    border: none;
    color: var(--white);
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* User information */
.user-information {
    position: relative;
    background-color: var(--box-bg);
    padding: 30px;
    border-radius: 10px;
}

.user {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 80%;
}

.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.username {
    color: var(--primary-color);
    margin-bottom: 10px;
}

.bio {
    margin-bottom: 20px;
}

.activity {
    background-color: var(--main-bg);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.other-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.item {
    display: grid;
    grid-template-columns: 15% 1fr;
    align-items: center;
}

.item i {
    color: var(--white);
}


/* Loading Spinner */
#spinner {
    display: none;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 42%;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: ' ';
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--primary-color);
    border-color: var(--primary-color) transparent var(--primary-color)
        transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Error msg */
.error-msg {
    padding: 120px 0;
}

/* Light Theme */
.light-bg {
    background-color: var(--light-bg);
    color: var(--black);
}

.light-header {
    color: var(--black);
}

.light-search-bar .search-bar {
    background-color: var(--white);
    color: var(--black);
}

.light-search-bar .search-bar input#search-input {
    color: var(--black);
}

.light-user-info {
    background-color: var(--white);
}

.light-user-info .user-info .activity {
    background-color: var(--light-bg);
}

.light-other-info div i {
    color: var(--black);
}

/* Mobile responsive */
@media only screen and (max-width: 668px) {
    #spinner {
        top: 39%;
        left: 38%;
    }

    body {
        font-size: var(--text-xsm);
    }
    h2 {
        font-size: 18px;
    }

    .container {
        width: 325px;
    }

    img {
        width: 50%;
    }

    .user {
        text-align: center;
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .name {
        display: block;
        margin-bottom: 5px;
    }

    #name {
        margin-bottom: 5px;
    }

    .activity {
        padding: 10px;
    }

    .other-info {
        grid-template-columns: repeat(2, 1fr);
    }

    .item {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
